<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> PNS ALVIAN DANIEL SINAGA 1184077</title>
</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<body>
	<div class="container">
	<h1>REPLIKASI FORMULIR PENDAFTARAN ONLINE CPNS 2020 </h1>
	<form method="POST">
		{{ form.as_p }}
		{% csrf_token %}
		<input type="submit" class="btn btn-primary" value="Submit" />
	</form>
    <button class='js-captcha-refresh'></button>
</script>

</body>
</html>

